body {
	background-color: #a1a1a1;
}

input {
	background-color: #ba935b;
	border-style: solid;
	border-width: thick;
	color: white;
	padding: 10px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin-left: 20px;
	margin-top: 0%;
}

select {
	background-color: #ba935b;
	border-style: solid;
	border-width: thick;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin-left: 20px;
	margin-top: 0%;
}

label {
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin-left: 20px;
	margin-top: 0%;
	font-weight: bold;
}

p {
	font-size: 17px;
}

#strats {
	margin-top: 10px;
	margin-left: 49px;
}


h2 {
	margin-left: 70px;
}